

.body-login{
margin: 0 auto;
background-image: url('./assets/13478.jpg');
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
 background-repeat: no-repeat;
 background-repeat: no-repeat;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;

}

.container {

width:  500px;
height: 400px;
text-align: center;
background-color: rgb(104, 186, 213 , 0.7);
border-radius: 4px;
margin: 0 auto;
margin-top: 150px;
}


.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;

}
input {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;
}

.btn-login{
    padding: 15ox  30px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: #6ce6bd;
    border-bottom: 4px solid #6ce6bd;
    margin-bottom: 20px;
}



#tableitem {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableitem td, #tableitem th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableitem tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableitem tr:hover {background-color: #ddd;}
  
  #tableitem th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6ce6bd;
    color: white;
  }